.DS_Store
._.DS_Store

__pycache__/
*.py[cod]
*$py.class

venv/
ops_lasagna.egg-info
.idea/

projects/example/process_ipynb/
/projects/example/.snakemake/
projects/steph/process_ipynb
projects/steph/data
