.DS_Store
._.DS_Store

__pycache__/
*.py[cod]
*$py.class

venv/
ops_lasagna.egg-info

.idea/

notebooks/

projects/example/.snakemake/
projects/example/experimentC/process_ipynb/10X_A1_Tile-107.aligned.tif
projects/example/experimentC/process_ipynb/10X_A1_Tile-107.log.tif
projects/steph/
